body {
    background-color:#222529;
    /* color: #28242c; */
}

.lead-text{
    color: whitesmoke;
    margin-top: 20px;
}

p {
    color: whitesmoke;
}

.table-format{
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

#index-table-format{
    padding-top: 1%;
    padding-left: 40%;
    padding-right: 40%;
    background-color:#222529;
}

.form-format{
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.form-item-format{
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.form-label{
    color: whitesmoke;
}

.about-text{
    margin: 5%;
}

.hometext{
    margin: 10%;
}

.card-format{ 
    padding: 10%;
}

.card-source{
    font-size: 10px;
}